Ammo
{
  position: absolute;
  right: 100px;
  bottom: 48px;
  background-color: rgba( black, .25 );
  font-size: 40px;
  font-weight: bold;
  color: white;
  backdrop-filter: blur(5px);
  padding: 8px 20px;
  align-items: center;
  outline: rgba(black, .2) 2px;
}